<div class="flex justify-center  min-h-screen items-start">
  <div class="bg-gray-100 p-8 rounded-md shadow-md w-full max-w-md">
    <h2 class="text-xl font-bold mb-6 text-center">Iniciar sesión</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <div class="mb-2">
                <label class="block mb-2 font-medium">Email</label>
                <input class="w-full" pInputText type="email" formControlName="email" />
                <div class="text-red-500" *ngIf="email.invalid && email.touched">Email inválido</div>
            </div>
            

            <div class="mb-2">
                <label class="block mb-2 font-medium">Contraseña</label>
                <input pPassword [feedback]="false" class="w-full" type="password" formControlName="password" />
                <div class="text-red-500" *ngIf="password.invalid && password.touched">Contraseña requerida</div>
            </div>

            <div class="mb-2">
                <p *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</p>
                <p *ngIf="successMessage" class="text-green-500">{{ successMessage }}</p>
            </div>
            
            <button pButton type="submit">Iniciar sesión</button>
        </form>

        <div class="mt-4 text-center">
            <p class="text-sm text-gray-600">
                ¿No tenés una cuenta?
                <a href="/register" class="text-blue-600 hover:underline font-medium">Registrate acá</a>
            </p>
        </div>

        <p-dialog
            header="¡Registro exitoso!"
            [(visible)]="showRegisteredDialog"
            modal
            [closable]="true"
            [dismissableMask]="true"
            [style]="{ width: '300px' }"
        >
            <div class="flex flex-col items-center text-center space-y-4">
                <i class="pi pi-check-circle text-green-500 text-5xl"></i>
                <p class="text-lg">Tu cuenta fue creada correctamente.</p>
                <p class="text-sm text-gray-600">Ahora podés iniciar sesión.</p>
            </div>
        </p-dialog>

  </div>
</div>
