<div class="flex justify-center  min-h-screen items-start">
  <div class="bg-gray-100 p-8 rounded-md shadow-md w-full max-w-md">
    <h2 class="text-xl font-bold mb-6 text-center">
      {{ isAdminCreatingEmployee ? 'Registrar Empleado' : 'Registro de Usuario' }}
    </h2>

    <p *ngIf="isAdminCreatingEmployee" class="text-sm text-gray-600 text-center mb-4">
      Completá los datos para dar de alta un nuevo empleado.
    </p>
    
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()" >
      <div class="mb-4">
        <label class="block mb-2 font-medium">Nombre</label>
        <input type="text" pInputText class="w-full" formControlName="nombre" />
        <small class="text-red-500 mt-2" *ngIf="nombre.invalid && nombre.touched">
            El nombre es obligatorio.
        </small>
      </div>

      <div class="mb-4">
        <label class="block mb-2 font-medium">Email</label>
        <input type="email" pInputText class="w-full" formControlName="email" />
        <small class="text-red-500 mt-2" *ngIf="email.invalid && email.touched">
            <ng-container *ngIf="email.errors?.['required']">El email es obligatorio.</ng-container>
            <ng-container *ngIf="email.errors?.['email']">El email no es válido.</ng-container>
        </small>
      </div>

      <div class="mb-4">
        <label class="block mb-2 font-medium">Contraseña</label>
        <input type="password" pPassword class="w-full" formControlName="password" />
        <small class="text-red-500 mt-2" *ngIf="password.invalid && password.touched">
            La contraseña es obligatoria.
        </small>
      </div>

      <div class="mb-2">
        <p *ngIf="errorMessage" class="text-red-500 mt-2">{{ errorMessage }}</p>
      </div>  

      <button pButton type="submit" 
              [label]="isAdminCreatingEmployee ? 'Registrar Empleado' : 'Registrarse'" 
              class="w-full">
      </button>
    </form>

    <div class="mt-4 text-center" *ngIf="!isAdminCreatingEmployee">
        <p class="text-sm text-gray-600">
            ¿Ya tenés una cuenta?
            <a href="/login" class="text-blue-600 hover:underline font-medium">Ingresa acá</a>
        </p>
    </div>
  </div>
</div>

