<div class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold">Tienda Cerveza</h1>
    <p-button (click)="visible = true" icon="pi pi-window-maximize" class="p-button-rounded p-button-info p-button-lg text-2xl" />
</div>

@for (cerveza of cervezas; track $index) {
    @if(cerveza._id) {
        <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="" />
        </ng-template>
        <ng-template #title> {{ cerveza.nombre }} </ng-template>
        <ng-template #subtitle> {{ cerveza.tipo }} </ng-template>
        <div>
            <strong>Stock actual:</strong> {{ cerveza.stock_actual }}
        </div>
        <div class="flex align-items-center gap-2 mt-2">
        <button pButton type="button" icon="pi pi-minus"
            (click)="cantidad[cerveza._id] = Math.max(1, (cantidad[cerveza._id] || 1) - 1)">
        </button>
        <span class="w-3rem text-center inline-block">
            {{ cantidad[cerveza._id] || 1 }}
        </span>
        <button pButton type="button" icon="pi pi-plus"
            (click)="cantidad[cerveza._id] = Math.min(getMaxCantidad(cerveza), (cantidad[cerveza._id] || 1) + 1)">
        </button>
        </div>
        @if (cerveza.stock_actual > cerveza.stock_minimo) {
            <button pButton type="button" label="Agregar al carrito"
                class="mt-2 w-full"
                (click)="agregarCervezaPedido(cerveza._id, cantidad[cerveza._id] || 1)">
            </button>
        } @else {
            <div class="text-red-500 mt-2">Sin Stock</div>
        }
        </p-card>
    }

}

<p-drawer header="Carrito" [(visible)]="visible" styleClass="!w-full md:!w-80 lg:!w-[30rem]">
    @if (pedido && pedido.cervezas.length > 0) {
        <div class="flex justify-between items-center mb-3">
            <h2 class="text-lg font-semibold">Carrito de Pedidos</h2>
            @for (item of pedidoCervezasDetallado; track $index) {
                <div class="mb-3 border-b pb-2">
                    <div><strong>{{ item.nombre }}</strong> ({{ item.tipo }})</div>
                    <div>Cantidad: {{ item.cantidad }}</div>
                    <button pButton type="button" icon="pi pi-trash"
                        class="p-button-danger p-button-sm mt-1"
                        (click)="eliminarCervezaPedido(item.cerveza)">
                        Quitar
                    </button>
                </div>
            }
            <button pButton type="button" label="Confirmar pedido" class="w-full mt-3" (click)="createPedido()"></button>
        </div>
    } @else {
        <div class="text-center text-gray-500 mt-5">No hay cervezas en el carrito.</div>
    }

</p-drawer>